/* Dashboard.module.css */

.flexbar {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.content {
    flex: 1;
    padding: 20px;
    /* background-color: #f5f5f5; */
    transition: margin-left 0.3s ease-in-out;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

/* Navbar Styles */
.navbar {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

