
.container {
max-height: calc(100vh - 100px);
overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  color: black;
  box-shadow: 0px 4px 8px rgb(23, 1, 96);
  margin-bottom: 50px;
  font-size: 15px;
}

.table3{
  padding: 10px;
  margin: 10px;
}


.CreateNew {
  margin-top: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.1rem;
  border-radius: 4px;
  cursor: pointer;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd;
  color: rgb(6, 6, 6);
  padding-top: 10px;
  
  
}

.thM {
padding: 8px;
  border: 1px solid #847d7d48;
  font-size: 16px;
}


.tablerow-header {
  background-color: #007bff;
  color: rgb(6, 6, 6);
}


.tablerow {
  background-color: #f9f9f9;
}


.tablecell {
  padding: 50px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.paginado {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.but {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.but[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.buttonAccion {
  background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.buttonAccion1 {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 5px;
  margin-right: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.buttonAccion2 {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 25px;
  border-radius: 4px;
  cursor: pointer;
}
