/* register.module.css */

.maxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/total.jpg');
    height: 100vh;
    background-blend-mode: darken;
        background-color: rgba(2, 2, 2, 0.8);
}

.divContainerTodo {
    padding: 20px;
    background-color: #080808ce;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    color: white;
}

.h2FormAccessPage {
    font-size: 1.5rem;
    margin-bottom: 16px;
    text-align: center;
}

.labelFormAccessPage {
    font-size: 0.875rem;
    margin-bottom: 4px;
    color: white;
}

.inputFormAccessPage {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

.error {
    font-size: 0.75rem;
    color: #e74c3c;
    margin-top: 4px;
}

.buttonFormAccessPage {
    margin-top: 14px;
    width: 100%;
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonFormAccessPage:hover {
    background-color: #2980b9;
}

.mensajeError {
    font-size: 0.875rem;
    color: #e74c3c;
    margin-top: 8px;
}

.pFromAccessPage {
    font-size: 0.875rem;
        margin-top: 16px;
        text-align: center;
        display: flex;
}

.spanFormAccessPage {
    color: #3498db;
    cursor: pointer;
}

