.maxContainer{
    height: 880px;
    background-image:url('../../assets/series-netflix.jpg') ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divContainerTodo {
    background-color: #000000;
    margin: 50px 400px 50px 400px;
    padding-bottom: 40px;
    width: 510px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputFormAccessPage {
    width: 283px;
    height: 30px;
    padding: 7px;
    border-radius: .3rem;
    font-size: 17px;
    margin-bottom: 0;
    border: none;
}

.labelFormAccessPage {
    margin-top: 2rem;
    margin-bottom: 7px;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.inputFormAccessPage:focus {
    outline:none;
    border: 3px solid #2980B9;
}

.buttonFormAccessPage {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 8px 25px;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #2980B9;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.file{
    margin-left: 40px;
    width: 160px;
    height: 30px;
}

.error{
    margin-top: 6px;
    margin-bottom: 0;
    color: #E12727;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}


.mensajeError {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #E12727;
    padding: 15px;
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}