.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 400;
}

.error {
    color: #ff0000;
}

.ContenedorModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-height: 50%;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    
}


.BotonCerrar {
    position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        border: none;
        background: none;
        cursor: pointer;
        transition: .3s ease all;
        border-radius: 5px;
        color: #1766DC;}


.titulo {
    text-align: center;
}




.inputs {
    margin-top: 20px;
    margin-bottom: 10px;
}


.inputs input[type="text"],
.inputs input[type="url"],
.inputs textarea,
.inputs select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.botonMovie {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error {
    color: #ff0000;
}


.textArea textarea {
    width: 100%;
    height: 150px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.contenedor img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.contenedor {
    position: relative;
}

