


.sidebar{
    width: 14rem;
    height: calc(100vh - 65px);
    border-right: 1px solid white;
    background-color: white;
}

.ulSidebar{

    list-style: none;
    padding: 1rem 2rem;
}

.ulSidebar li {
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.ulSidebar li a {
    text-decoration: none;
    padding-left: 10px;
    font-size: 0.9rem;
}

.ulSidebar li a :active{
    color: blue;
}