/* SideBar.module.css */

.sidebar {
    background-color: #011f69;
    color: black;
        width: 100%;
        position: fixed;
        top: 60px;
        bottom: 0;
        overflow-y: auto;
        z-index: 1000;
        transition: 0.3s;
        overflow-y: auto;
        position: fixed;
        max-height: calc(18vh - 60px);
}

.content {
    margin-top: 60px;
    padding-left: 28vh;
    
}

.ulSidebar {
    list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
}

.ulSidebar li {
    width: calc(100% / 6);
        padding: 15px;
        text-align: center;
        transition: background-color 0.3s;
}

.ulSidebar li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    
}

.ulSidebar li a:hover {
    color: red;
}

.ulSidebar li.active {
    background-color: #3498db;
}
