.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    

}

.container-compras{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1450px;
    text-align: center;
    background-color: rgb(7, 7, 7);
}

.titlePerf {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    margin-top: 20px;
    
}

.boton{
    display: block;
        width: 100%;
        margin-top: 10px;
        padding: 6px 10px;
        background-color: #036379;
        border: none;
        border-radius: 4px;
        font-size: 15px;
}


.boton:hover {
    background-color: yellow;
}

.purchase-carousel {
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 70px;
    gap: 20px;
    margin-top: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding-top: 20px;
   margin-top: 10px;
    
}
.conth1 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: filter 0.3s;
}

.profile-image.editable {
    filter: brightness(70%);
    
}
.h31 {
font-size: xx-large;
color: #ffffff;
}

.pc {
    font-size: small;
    color: #ffffff;
}

.containerInputs {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.containerInputs input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1b1a1a;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.296);
}

.buttPerf {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.butguardar,
.butCancelar,
.buteditar {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.butguardar {
    background-color: #4caf50;
    color: white;
}

.butCancelar {
    background-color: #f44336;
    color: white;
}

.buteditar {
    background-color: #2196f3;
    color: rgb(6, 6, 6);
}

@media screen and (max-width: 480px) {
    .profile-container {
        padding: 10px;
        

    }

    .profile-image {
        width: 100px;
        height: 100px;
    }
}


.purchase-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    scroll-behavior: smooth;
}

.purchase-card {
    flex: 0 0 auto;
    width: 210px;
    padding: 10px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
    background-color: #000000;
}

.purchase-card:hover{
    box-shadow: 2px 4px 15px 0 rgb(255, 255, 255)
}

.h3{
    color: white;
}

.p{
    color: white;
}

.purchase-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.purchase-card h3 {
    margin: 5px 0;
    font-size: 16px;
}

.purchase-card p {
    margin: 5px 0;
    font-size: 14px;
}