.containerMax{
    width: 216px;
    height: 276px;
    background-size: cover;
    margin: 20px 10px;
}

.image{
    width: 216px;
    height: 276px;
    background-size: cover
}

.agg{
    font-size: 15px;
}