.containerMax{
    width: 216px;
    height: 276px;
    background-size: cover;
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    
}

.image{
    width: 216px;
    height: 276px;
    background-size: cover
}

.agg{
    font-size: 14px;
    font-weight: 600;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}