body {
    padding: 0;
    margin: 0;

    background-color: #1E1E1E;
}

.containerHome {
    display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        
}

.SliderShow {
    width: 100%;
    height: auto;
}

.main {
    width: 100%;
        max-width: 2000px;
        margin: 0 auto;
        padding: 0 20px;
        margin-top: 20px;
}


label{
    color: black;
}

.busqueda {
    background-color: black;
    width: 100%;
    height: 200px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
    padding: 40px 50px;
}

.peliculas {
    margin-top: 20px;
}

.containerCard{    
background-color: #040404;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10%;
    margin-bottom: 100px;
}

h3{
    font-size: 50px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: -80px;
        justify-content: center;
        align-items: center;
        display: flex;
       
        
}

.Mostrar {
    width: 90.5%;
    height: 50px;
    z-index: 50;
    background-color: #1766DC;
    margin: 04% ;
}

.Mostrar a {
    font-size: 20px;

}

.CreateNew {
background-color: #03546D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    align-items: center;
    
}

.CreateNew:hover {
    background-color: #950202;
    
}



.h3series {
    text-align: left;
}

.series {
    height: 800px;
    background-color: black;
}

