@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.section {
    background-color: #1E1E1E;
    overflow: auto;
}

/* Titulo */

.pTitle {
    margin: 40px;
    color: #fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-bottom: 30px;
}

.containercard{
    color: black;
}

/* Select Filter */

.containerFilter {
    display: flex;
    justify-content: center;
}

.div {
    margin: 10px;
    margin-left: 60px;
}

.select {
    padding: 5px 40px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}

.p-p{
    color: #fdfbfb;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    margin: 2px;
}

.option-p {
color: #fdfbfb;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    margin: 2px;
    
 }
/* Select series */

.containerSeries {
    margin: 40px;
    background-color: black;
    padding: 50px;
    
}

.divContainerCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
}

.imgSeries {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease;;
}

.imgSeries:hover {
    transform: scale(1.1);
}


/* Paginado */

.divPaginado {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.elementoB {
    margin: 10px;
}

.button {
    border: none;
    border-radius: 3px;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
}

.pPaginado {
    color: #fff;
    margin: 20px 20px;
    font-size: 20px;
    cursor: pointer;
}