
body {
  margin: 0;
  padding: 0;
}
.sectionDetailSerie {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  background-color: #f9f9f9;
}


.detailsContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
    background-color: black;
}

.nameContainer {
  display: flex;
  align-items: center;
}

.name {
  font-size: 30px;
  margin-right: 5px;
}

/* section styles */
.section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.image img {
  width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: 80px;
}

.info {
display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  margin-right: 200px;
  margin-left: 80px;
}

.info div {
  margin-bottom: 5px;
}

.info span {
  font-weight: bold;
    font-size: 25px;
    color: #007bff;
}

.botonContainer {
  margin-top: 20px;
}

button {
  background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
}


.divContainerTC {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: black;
    
}

.divTemp p,
.divCap p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
} 

.selectDetail {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}

.divTemp,
.divCap {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
   
}


.divVideo {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh; /* Ajusta el alto según sea necesario */
}

.imgSeries {
  max-width: 100%;
  display: flex;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }

  .info {
    padding: 5px;
  }

  .divContainerTC {
    flex-direction: column;
  }
}