/* card.module.css */

.containerMax {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    max-width: 180px;
    /* Tamaño del contenedor reducido */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    /* Reducido el padding */
    margin: 10px;
    /* Reducido el margen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.containerMax:hover {
    transform: scale(1.05);
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

.iconsContainer {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    /* Reducido el margen superior */
}

.icon {
    font-size: 18px;
    /* Reducido el tamaño de fuente */
    margin: 0 8px;
    /* Reducido el margen entre iconos */
    color: #888;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.icon:hover {
    color: #f39c12;
}

.agg {
    display: block;
    width: 100%;
    margin-top: 10px;
    /* Reducido el margen superior */
    padding: 6px 10px;
    /* Reducido el padding */
    background-color: #036379;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    /* Reducido el tamaño de fuente */
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.agg:hover {
    background-color: #e0e0e0;
}

/* Ajuste para las nuevas cards agregadas */
@media (max-width: 800px) {
    .containerMax {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 600px) {
    .containerMax {
        width: calc(50% - 20px);
    }
}

@media (max-width: 400px) {
    .containerMax {
        width: calc(100% - 20px);
    }
}
