.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #020202;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.logo img {
    width: 50%;
    height: 50%;
}

.logo-foto {
    width: -5%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.nav-items {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.nav-item {
display: flex;
    align-items: center;
    margin-right: 35px;
    text-decoration: none;
    color: #fcfafa;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-name{
    margin-right: 5px;
        font-size: xx-small;
        text-decoration: none;
        color: #fff;
        align-items: center;
        transition: color 0.3s;
       justify-content: space-between;
       position: relative;
}

.nav-item:hover {
    color: #dd0505;
}

input[type="search"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.nav-item svg {
    margin-right: 5px;
    font-size: 18px;
}

.nav-item.profile.active .profile-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cart-count {
    margin-left: 5px;
    font-size: 12px;
    background-color: #dd0505;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
}

.profile {
    position: relative;
    cursor: pointer;
    color: white;
    margin-left: 15px;
   
}

.profile-menu {
position: absolute;
    top: 100%;
    right: 0;
    background-color: #000000;
    border-radius: 4px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
    font-size: 14px;
    z-index: 10;
    margin-top: 15px;
    padding: 20px;
    color: white;
}

.profile:hover .profile-menu {
    display: block;
}

.profile-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.nav-name {
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    margin-left: 30px;


}

.profile-menu a:hover {
    color: #f3f3f3;
}

.profile-menu button {
    display: block;
    height: 5vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1912f3;
    border: none;
    color: #fff;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: small;
}

.profile-menu button:hover {
    background-color: #e62222;
}




input[type="search"]+button:hover svg {
    fill: #007bff;
} */

.buttonCerreSesionNav {
    padding: 5px;
    margin-top: 5px;
}



