body {
    padding: 0;
    margin: 0;

    background-color: #1E1E1E;
}

.p1 {
    color: #fdfbfb;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        padding: 3px;
            margin: 2px;
}

.filters div{
    margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 50px;
        border-radius: none;
}

.filters div span{
font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: white;
}

.filters div select{
    width: 180px;
        height: 20px;
        margin-top: 10px;
        border-radius: 5px;
        align-items: center;
        background-color: rgba(253, 251, 251, 0);
        color: white;
        cursor: pointer;
}

.filters option {
    background-color: rgba(2, 2, 2, 0.8);
    border-radius: none;
}

.Container{
display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: none;
    cursor: pointer;

}

.peliculaContainer{
display: flex;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-content: center;
    width: 120%;
    max-width: 1200px;
    background-color: #000000;
    margin-top: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 80px;

}

.paginado{
    background-color: #03546D;
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 20px;
}

