body{
    padding: 0;
    margin: 0;
    background-color: #1E1E1E;
}

span{
    color: #fdfbfb;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding: 3px;
        margin: 2px;
}

h1{
    color: black;  
    font-size: 10px;  
}

.filters{
    display: flex;
    
}

/* .select1 {
        font-family: 'Roboto', sans-serif;
        border-radius: 5px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        font-size: 15px;
} */


.p1 {
    color: #fdfbfb;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        padding: 3px;
            margin: 2px;
}

.filters div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 60px;
    font-size: 20px;
}

.filters div span{
    color: #fdfbfb;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding: 3px;
        margin: 2px;
        display: flex;
        margin-top: 50px;
}

.filters div select{
    padding: 5px 20px;
        font-family: 'Roboto', sans-serif;
        border-radius: 5px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        cursor: pointer;
}

.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.filters {
    display: flex;
    justify-content: center;

}

.peliculaContainer{
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height:1120px;
    width:1248px;
    margin: 30px 0;

}

.paginado{
    background-color: #03546D;
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: center;
}