

.maxContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: #f5f5f5;
   overflow-y: auto;
   max-height: calc(100vh - 100px);
   
}

.h1 {
   font-size: 28px;
   font-weight: bold;
   color: #333;
   margin-bottom: 10px;
}

.h12 {
   font-size: 20px;
   color: #666;
   margin-bottom: 40px;
}

.contenedor {
   border: 1px solid #ddd;
   padding: 15px;
   width: 100%;
   margin: 20px 0;
   box-shadow: 1px 5px 5px 5px rgb(113, 115, 116);
   background-color: #ebe2e2;
   color: #000000;
  font-size: xx-large;
}

.but {
   font-size: 14px;
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 8px 16px;
   margin: 5px;
   cursor: pointer;
   border-radius: 5px;
   outline: none;
   transition: background-color 0.3s ease;
}

.but:hover {
   background-color: #0056b3;
}

h2 {
   font-size: 24px;
   font-weight: bold;
   /*color: #000000;*/
   margin-bottom: 10px;
}

.p {
   font-size: 18px;
   color: #000000;
   margin-bottom: 5px;
}

.table1 {
   width: 100%;
   border-collapse: collapse;
   margin-top: 15px;
}

.table1 th,
.table1 td {
   padding: 8px;
   border: 1px solid #847d7d48;
   font-size: 16px;
}

.table1 th {
   background-color: #030303;
   font-weight: bold;
   color: #ffffff;
}

.image {
   width: 100px;
   height: 100px;
   object-fit: cover;
}

/* Efecto hover para resaltar las filas de la tabla */
.table1 tr:hover {
   background-color: #d0f7f5;
   transition: background-color 0.3s;
}